/* You can add global styles to this file, and also import other style files */

// Import Angular Material theme
@use './styles/material-theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Global styles
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}